{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{% static 'product/img/favicon.png' %}" type="image/png">
    <title> Microgreen </title>
    <link rel="stylesheet" type="text/css" href="{% static 'product/css/bootstrap.css' %}"/>
    <link href="{% static 'product/css/font-awesome_correct.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'product/css/main_page.css' %}" rel="stylesheet"/>
    <link href="{% static 'product/css/responsive.css' %}" rel="stylesheet"/>

</head>
<body>
<div class="hero_area">
    <div class="bg-box">
        <img src="{% static 'product/img/hero_bg.jpeg' %}" alt="">
    </div>
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="{% url 'main_page' %}">
            <span>
              Microgreen
            </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mx-auto ">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'main_page' %}">Главная <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'product_catalog' %}">Каталог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about_inform">Сотрудничество</a>
                        </li>
                    </ul>
                    <div class="user_option">
                        {% if user.is_authenticated and user.is_staff %}
                            <a href="{% url 'admin_account' %}" class="user_link">
                                <img class="cart_img_catalog" src="{% static 'product/img/user.png' %}" alt="">
                            </a>
                        {% elif user.is_authenticated %}
                            <a href="{% url 'my_account' %}?next={{ request.path }}" class="user_link">
                                <img class="cart_img_catalog" src="{% static 'product/img/user.png' %}" alt="">
                            </a>
                        {% else %}
                            <a href="{% url 'user_login' %}?next={{ request.path }}" class="user_link">
                                <img class="cart_img_catalog" src="{% static 'product/img/user.png' %}" alt="">
                            </a>
                        {% endif %}

                        <a class="cart_link" href="{% url 'favorite_products' %}">
                            <div class="count_numb"><img class="cart_img_catalog"
                                                         src="{% static 'product/img/heart.png' %}"
                                                         alt="">{{ favorites_products.count }}</div>
                        </a>

                        {% if user.is_authenticated %}
                            <a class="cart_link" href="{% url 'cart_products' %}">
                                <div class="count_numb"><img class="cart_img_catalog"
                                                             src="{% static 'product/img/cart.png' %}"
                                                             alt="">{{ cart_products.count }}</div>
                            </a>
                        {% else %}
                            <a class="cart_link" href="{% url 'user_login' %}?next={% url 'cart_products' %}"
                               class="user_link">
                                <div class="count_numb"><img class="cart_img_catalog"
                                                             src="{% static 'product/img/cart.png' %}"
                                                             alt="">{{ cart_products.count }}</div>
                            </a>
                        {% endif %}

                    </div>
                </div>
            </nav>
        </div>
    </header>
</div>
<div class="messages_sucs">
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }} auto-hide"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>
<section class="offer_section layout_padding-bottom">
    <div class="offer_container">
        <div class="container ">
            <div class="main">
                <ul class="cards">
                    <li class="cards_item">
                        <div class="card">
                            <div class="card_image"><img
                                    src="https://assets.codepen.io/652/photo-1468777675496-5782faaea55b.jpeg"
                                    alt="mixed vegetable salad in a mason jar. "></div>
                            <div class="card_content">
                                <h2 class="card_title">Салаты</h2>
                                <div class="card_text">
                                    <p>&#x2022; Микрозелень гороха прекрасно дополнит салат с фетой и мятой. Её нежный
                                        вкус и
                                        хрустящая текстура добавят интересный контраст к соленому и свежему вкусу феты,
                                        а также освежающему аромату мяты.</p>
                                    <p>&#x2022; Попробуйте микрозелень рукколы в салатах с красными огурцами и
                                        черри-томатами. Её
                                        легкий острый вкус и аромат придают салату дополнительную пикантность.</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="cards_item">
                        <div class="card">
                            <div class="card_image"><img
                                    src="https://assets.codepen.io/652/photo-1520174691701-bc555a3404ca.jpeg"
                                    alt="a Reuben sandwich on wax paper. "></div>
                            <div class="card_content">
                                <h2 class="card_title">Гарниры</h2>
                                <div class="card_text">
                                    <p>&#x2022; Микрозелень базилика идеально подходит в качестве гарнира для пасты, особенно для
                                        блюд с томатным или песто-соусом. Её ароматный вкус и аромат красиво дополнят
                                        блюдо.
                                    </p>
                                    <p>&#x2022; Микрозелень горчицы можно использовать как гарнир для блюд с грибами, например,
                                        шампиньонами, приготовленными на гриле. Её острый вкус добавит интересный акцент
                                        к нежному вкусу грибов.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cards_item">
                        <div class="card">
                            <div class="card_image"><img
                                    src="https://assets.codepen.io/652/photo-1544510808-91bcbee1df55.jpeg"
                                    alt="A side view of a plate of figs and berries. "></div>
                            <div class="card_content">
                                <h2 class="card_title">Дополнения к блюдам</h2>
                                <div class="card_text">
                                    <p>&#x2022; Добавьте микрозелень гороха в супы и кремы. Небольшое количество микрозелени на
                                        поверхности блюда придаст ему нежный вид и приятный зеленый акцент.</p>
                                    <p>&#x2022; При подаче мясных блюд, таких как стейк или жаренная куриная грудка, микрозелень
                                        горчицы может быть прекрасным украшением. Положите несколько веточек на вершину
                                        мяса перед подачей.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="food_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>Наш каталог</h2>
        </div>

        <ul class="filters_menu">
            <li class="active" data-category="all">Все</li>
            <li data-category="1">Микрозелень</li>
            <li data-category="4">Бейби-лиф</li>
            <li data-category="2">Пищевые цветы</li>
            <li data-category="3">Салаты</li>
        </ul>

        <div class="row-flex">
            {% for product in products %}
                <div class=" product {{ product.category.id }}">
                    <div class="box">
                        <a href="{% url 'product_detail' pk=product.pk %}">
                            <div class="img-box">
                                <img src="{{ product.main_image.url }}" alt="{{ product.name }}">
                            </div>
                        </a>

                        <div class="detail-box">
                            <h5>
                                <a href="{% url 'product_detail' pk=product.pk %}"
                                   style="text-decoration: none; color: inherit;">
                                    {{ product.name }}
                                </a>
                            </h5>
                            <p>{{ product.description }}</p>
                            <div class="options">
                                {% if product.id in request.session.cart %}
                                    <form action="{% url 'toggle_cart' product.id %}" method="post">
                                        {% csrf_token %}
                                        <a href="{% url 'toggle_cart' product.id %}" class="toggle-cart-link is-in-cart"
                                           data-product-id="{{ product.id }}">
                                            <img src="{% static 'product/img/rab_red.png' %}" alt="Удалить из корзины"
                                                 class="cart_img_catalog">
                                        </a>
                                    </form>
                                {% else %}
                                    <b href=""></b>
                                {% endif %}
                                {% if product.id in request.session.favorites %}
                                    <form action="{% url 'toggle_favorite' product.id %}" method="post">
                                        {% csrf_token %}
                                        <a href="{% url 'toggle_favorite' product.id %}"
                                           class="toggle-favorite-link is-favorite" data-product-id="{{ product.id }}">
                                            <img src="{% static 'product/img/heart.png' %}" alt="Удалить из избранного"
                                                 class="cart_img_catalog">
                                        </a>
                                    </form>
                                {% else %}
                                    <form action="{% url 'toggle_favorite' product.id %}" method="post">
                                        {% csrf_token %}
                                        <a href="{% url 'toggle_favorite' product.id %}" class="toggle-favorite-link"
                                           data-product-id="{{ product.id }}">
                                            <img src="{% static 'product/img/heart.png' %}" alt="Добавить в избранное"
                                                 class="cart_img_catalog">
                                        </a>
                                    </form>
                                {% endif %}
                                {% if product.id in request.session.cart %}
                                    <div class="product-quantity">
                                        <button class="quantity-button decrease" data-product-id="{{ product.id }}">-
                                        </button>
                                        <input type="number" class="quantity" value="1" min="1"
                                               data-product-id="{{ product.id }}">
                                        <button class="quantity-button increase" data-product-id="{{ product.id }}">+
                                        </button>
                                    </div>
                                {% else %}
                                    <form action="{% url 'toggle_cart' product.id %}" method="post">
                                        {% csrf_token %}
                                        <a href="{% url 'toggle_cart' product.id %}" class="toggle-cart-link"
                                           data-product-id="{{ product.id }}">
                                            <img src="{% static 'product/img/cart.png' %}" alt="Добавить в корзину"
                                                 class="cart_img_catalog">
                                        </a>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<div style="margin: 200px 0px 50px;" class="heading_container heading_center">
    <h2>О нас</h2>
</div>
<section id="about_inform" class="section_about_inform">
    <div class="sector-inner">
        <div class="top">
            <div class="left">
                <!-- Левый блок -->
                <div class="block">
                    <strong>
                        Привезем образцы на оценку
                    </strong>
                </div>
                <div class="block">
                    <strong>Самостоятельно доставим ваш заказ!</strong>
                </div>
                <div class="block">
                    <strong>Всегда только свежий продукт</strong>
                </div>
                <div class="block">
                    <strong>Мы предлагаем широкий ассортимент</strong>
                </div>
            </div>
            <div class="right">
                <!-- Правый блок -->
                <div class="block_5">
                    <strong>
                        Качество
                    </strong>
                    <hr style="border-color: #ffbe33;">
                    <p>
                        Наши технологии позволяют производить микрозелень и цветы высокого качества
                    </p>
                    <img src="{% static 'product/img/Quality.png' %}" alt="">
                </div>
                <div class="block_6">
                    <strong>
                        Коммуникабельность
                    </strong>
                    <hr style="border-color: #ffbe33;">
                    <p>
                        Мы стараемся быстро реагировать на фитбеки и готовы ответить на любой ваш вопрос
                    </p>
                    <img src="{% static 'product/img/Chat.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="bottom">
            <strong>Есть дополнительные вопросы?</strong>
            <p>Звоните/пишите на Whats app по номеру:</p>
            <p style="background-color: #222831; width: 40%; padding:2px; border-radius: 10px; margin: 10px auto; color: #ffbe33;">
                +7(922)469-31-19</p>
        </div>

</section>
<br><br><br>
<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Наши контакты
                    </h4>
                    <div class="contact_link_box">

                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                  Телефон: +7(922)469-31-19
                </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                  i.v.fomenko@inbox.ru
                </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                        Microgreen
                    </a>
                    <p>
                        Мы выращиваем и предлагаем широкий ассортимент микрозелени и ярких цветков, чтобы обогатить ваши
                        блюда вкусом, ароматом и эстетикой
                    </p>
                    <div class="footer_social">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    Рабочие часы
                </h4>
                <p>
                    Каждый день
                </p>
                <p>
                    10:00 - 22:00
                </p>
            </div>
        </div>
    </div>
    <span id="displayYear"></span>
    </div>
    </div>
</footer>
<script src="{% static 'product/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'product/js/bootstrap.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
<script src="{% static 'product/js/custom.js' %}"></script>
<script>
    // Обработчик щелчка по кнопке "Добавить в избранное"
    document.querySelectorAll('.toggle-favorite-link').forEach(function (link) {
        link.addEventListener('click', function (event) {
            const product_id = link.getAttribute('data-product-id');
            saveScrollPosition();
            scrollToProduct(product_id);
            resetScrollPositionAfterDelay();
        });
    });

    // Обработчик щелчка по кнопке "Добавить в корзину"
    document.querySelectorAll('.toggle-cart-link').forEach(function (link) {
        link.addEventListener('click', function (event) {
            const product_id = link.getAttribute('data-product-id');
            saveScrollPosition();
            scrollToProduct(product_id);
            resetScrollPositionAfterDelay();
        });
    });

    // Восстанавливаем положение прокрутки при загрузке страницы
    window.addEventListener('load', function () {
        const scrollPosition = sessionStorage.getItem('scroll_position');
        if (scrollPosition !== null) {
            window.scrollTo(0, parseInt(scrollPosition));
            resetScrollPositionAfterDelay();
        }
    });

    // Функция для сохранения текущего положения прокрутки
    function saveScrollPosition() {
        const scrollY = window.scrollY;
        sessionStorage.setItem('scroll_position', scrollY);
    }

    // Функция для восстановления положения прокрутки до определенного товара
    function scrollToProduct(product_id) {
        const productElement = document.querySelector(`[data-product-id="${product_id}"]`);
        if (productElement !== null) {
            const scrollY = productElement.offsetTop;
            window.scrollTo(0, scrollY);
        }
    }

    // Функция для обнуления положения прокрутки после задержки
    function resetScrollPositionAfterDelay() {
        setTimeout(function () {
            sessionStorage.removeItem('scroll_position');
        }, 40000); // 6 секунд задержки
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var autoHideMessages = document.querySelectorAll('.auto-hide');
        var messagesBlock = document.querySelector('.messages_sucs');

        autoHideMessages.forEach(function (message) {
            setTimeout(function () {
                message.style.display = 'none';
                messagesBlock.style.display = 'none'; // Скрыть блок сообщений
            }, 6000);
        });

        // Отобразить блок сообщений при наличии сообщений
        if (messagesBlock && autoHideMessages.length > 0) {
            messagesBlock.style.display = 'block';
        }
    });
</script>
<script>
    // JavaScript для управления счетчиками
    var decreaseButtons = document.querySelectorAll(".decrease");
    var increaseButtons = document.querySelectorAll(".increase");
    var quantityInputs = document.querySelectorAll(".quantity");

    // Функция для сохранения значения в Local Storage
    function saveQuantityToLocalStorage(input) {
        var currentValue = parseInt(input.value, 10);
        if (!isNaN(currentValue) && currentValue >= 1) {
            localStorage.setItem("quantity_" + input.getAttribute("data-product-id"), currentValue.toString());
        }
    }

    for (var i = 0; i < decreaseButtons.length; i++) {
        decreaseButtons[i].addEventListener("click", function () {
            var input = this.parentElement.querySelector(".quantity");
            var currentValue = parseInt(input.value, 10);
            if (currentValue > 1) {
                input.value = (currentValue - 1).toString();
                saveQuantityToLocalStorage(input);
            }
        });
    }

    for (var i = 0; i < increaseButtons.length; i++) {
        increaseButtons[i].addEventListener("click", function () {
            var input = this.parentElement.querySelector(".quantity");
            var currentValue = parseInt(input.value, 10);
            input.value = (currentValue + 1).toString();
            saveQuantityToLocalStorage(input);
        });
    }

    for (var i = 0; i < quantityInputs.length; i++) {
        quantityInputs[i].addEventListener("input", function () {
            var input = this;
            var currentValue = parseInt(input.value, 10);
            if (isNaN(currentValue) || currentValue < 1) {
                input.value = "1";
            }
            saveQuantityToLocalStorage(input);
        });
    }

    // Функция для восстановления сохраненного значения из Local Storage
    function restoreQuantityFromLocalStorage(input) {
        var savedValue = localStorage.getItem("quantity_" + input.getAttribute("data-product-id"));
        if (savedValue) {
            input.value = savedValue;
        }
    }

    // Восстанавливаем значения из Local Storage при загрузке страницы
    for (var i = 0; i < quantityInputs.length; i++) {
        restoreQuantityFromLocalStorage(quantityInputs[i]);
    }
</script>
<script>
    var removeFromCartButtons = document.querySelectorAll(".toggle-cart-link.is-in-cart");

    // Добавить обработчик события click для каждой кнопки
    for (var i = 0; i < removeFromCartButtons.length; i++) {
        removeFromCartButtons[i].addEventListener("click", function (event) {
            // Предотвратить перехват события скриптом
            event.stopPropagation();

            var productID = this.getAttribute("data-product-id"); // Получить data-product-id

            // Удалить значение счетчика из Local Storage
            localStorage.removeItem("quantity_" + productID);
        });
    }
</script>
{#скрипт для фильтра по категориям#}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var filterButtons = document.querySelectorAll('.filters_menu li');
        var products = document.querySelectorAll('.product');

        filterButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                // Убираем класс "active" у всех кнопок
                filterButtons.forEach(function (btn) {
                    btn.classList.remove('active');
                });

                // Добавляем класс "active" только для выбранной кнопки
                button.classList.add('active');

                // Получаем категорию выбранной кнопки
                var category = button.getAttribute('data-category');

                products.forEach(function (product) {
                    // Если выбрана категория "Все" или продукт принадлежит категории
                    if (category === 'all' || product.classList.contains(category)) {
                        product.style.display = 'block';
                    } else {
                        product.style.display = 'none';
                    }
                });
            });
        });

        // При загрузке страницы активируем кнопку "Все"
        var allButton = document.querySelector('.filters_menu li[data-category="all"]');
        if (allButton) {
            allButton.click();
        }
    });
</script>
</body>
</html>