{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{% static 'product/img/favicon.png' %}" type="image/png">
    <title> Microgreen </title>
    <link rel="stylesheet" type="text/css" href="{% static 'product/css/bootstrap.css' %}"/>
    <link href="{% static 'product/css/font-awesome_correct.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'product/css/main_page.css' %}" rel="stylesheet"/>
    <link href="{% static 'product/css/responsive.css' %}" rel="stylesheet"/>

</head>
<body>
<div class="hero_area">
    <div class="bg-box">
        <img src="{% static 'product/img/hero_bg.jpeg' %}" alt="">
    </div>
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="{% url 'main_page' %}">
            <span>
              Microgreen
            </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mx-auto ">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'main_page' %}">Главная <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'product_catalog' %}">Каталог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about_inform">Сотрудничество</a>
                        </li>
                    </ul>
                    <div class="user_option">
                        {% if user.is_authenticated and user.is_staff %}
                            <a href="{% url 'admin_account' %}" class="user_link">
                                <img class="cart_img_catalog" src="{% static 'product/img/user.png' %}" alt="">
                            </a>
                        {% elif user.is_authenticated %}
                            <a href="{% url 'my_account' %}?next={{ request.path }}" class="user_link">
                                <img class="cart_img_catalog" src="{% static 'product/img/user.png' %}" alt="">
                            </a>
                        {% else %}
                            <a href="{% url 'user_login' %}?next={{ request.path }}" class="user_link">
                                <img class="cart_img_catalog" src="{% static 'product/img/user.png' %}" alt="">
                            </a>
                        {% endif %}

                        <a class="cart_link" href="{% url 'favorite_products' %}">
                            <div class="count_numb"><img class="cart_img_catalog"
                                                         src="{% static 'product/img/heart.png' %}"
                                                         alt="">{{ favorites_products.count }}</div>
                        </a>

                        {% if user.is_authenticated %}
                            <a class="cart_link" href="{% url 'cart_products' %}">
                                <div class="count_numb"><img class="cart_img_catalog"
                                                             src="{% static 'product/img/cart.png' %}"
                                                             alt="">{{ cart_products.count }}</div>
                            </a>
                        {% else %}
                            <a class="cart_link" href="{% url 'user_login' %}?next={% url 'cart_products' %}"
                               class="user_link">
                                <div class="count_numb"><img class="cart_img_catalog"
                                                             src="{% static 'product/img/cart.png' %}"
                                                             alt="">{{ cart_products.count }}</div>
                            </a>
                        {% endif %}

                    </div>
                </div>
            </nav>
        </div>
    </header>
</div>
<div class="messages_sucs">
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }} auto-hide"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>
<section class="offer_section layout_padding-bottom">
    <div class="offer_container">
        <div class="container ">
            <div style="text-align: center">
                <h2><strong>Топ по популярности</strong></h2>
            </div>
            <div class="row">

                <div class="col-md-6  ">
                    <div class="box ">
                        {% for product in products %}
                            {% if product.id == 30 %}

                                <div class="img-box">
                                    <img href='{% url 'product_detail' pk=product.pk %}'
                                         src="{{ product.main_image.url }}" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        {{ product.name }}
                                    </h5>
                                    <br>
                                    <a href="{% url 'product_detail' pk=product.pk %}">
                                        Детали
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6  ">
                    <div class="box ">
                        {% for product in products %}
                            {% if product.id == 60 %}
                                <div class="img-box">
                                    <img href='{% url 'product_detail' pk=product.pk %}'
                                         src="{{ product.main_image.url }}" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        {{ product.name }}
                                    </h5>
                                    <br>
                                    <a href="{% url 'product_detail' pk=product.pk %}">
                                        Детали
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="food_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Наш каталог
            </h2>
        </div>

        <ul class="filters_menu">
            <li class="active" data-filter=".all">Все</li>
            <li data-filter=".burger">Микрозелень</li>
            <li data-filter=".fries">Бейби-лиф</li>
            <li data-filter=".pizza">Пищевые цветы</li>
            <li data-filter=".pasta">Салаты</li>

        </ul>


        <div class="filters-content">
            <div class="row grid">
                {% for product in products %}
                    {% if product.category.id == 1 %}
                        <div class="col-sm-12 col-lg-4 all burger">
                            <div class="box">
                                <div>
                                    <a href='{% url 'product_detail' pk=product.pk %}'>
                                        <div class="img-box">
                                            <img src="{{ product.main_image.url }}" alt="">
                                        </div>
                                    </a>
                                    <div class="detail-box">
                                        <h5>
                                            <a href="{% url 'product_detail' pk=product.pk %}"
                                               style="text-decoration: none; color: inherit;">
                                                {{ product.name }}</a>
                                        </h5>

                                        <div class="options">

                                            {% if product.id in request.session.cart %}
                                                <form action="{% url 'toggle_cart' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_cart' product.id %}"
                                                       class="toggle-cart-link is-in-cart"
                                                       data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/rab_red.png' %}"
                                                             alt="Удалить из корзины" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% else %}
                                                <b href=""></b>
                                            {% endif %}
                                            {% if product.id in request.session.favorites %}
                                                <form action="{% url 'toggle_favorite' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_favorite' product.id %}"
                                                       class="toggle-favorite-link is-favorite"
                                                       data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/heart.png' %}"
                                                             alt="Удалить из избранного" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% else %}
                                                <form action="{% url 'toggle_favorite' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_favorite' product.id %}"
                                                       class="toggle-favorite-link" data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/heart.png' %}"
                                                             alt="Добавить в избранное" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% endif %}
                                            {% if product.id in request.session.cart %}
                                                <div class="product-quantity">
                                                    <button class="quantity-button decrease"
                                                            data-product-id="{{ product.id }}">-
                                                    </button>
                                                    <input type="number"
                                                           class="quantity" value="1" min="1"
                                                           data-product-id="{{ product.id }}">
                                                    <button class="quantity-button increase"
                                                            data-product-id="{{ product.id }}">+
                                                    </button>
                                                </div>
                                            {% else %}
                                                <form action="{% url 'toggle_cart' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_cart' product.id %}"
                                                       class="toggle-cart-link" data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/cart.png' %}"
                                                             alt="Добавить в корзину" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    {% elif product.category.id == 4 %}
                        <div class="col-sm-12 col-lg-4 all fries">
                            <div class="box">
                                <div>
                                    <a href='{% url 'product_detail' pk=product.pk %}'>
                                        <div class="img-box">
                                            <img src="{{ product.main_image.url }}" alt="">
                                        </div>
                                    </a>
                                    <div class="detail-box">
                                        <h5>
                                            <a href="{% url 'product_detail' pk=product.pk %}"
                                               style="text-decoration: none; color: inherit;">
                                                {{ product.name }}</a>
                                        </h5>
                                        <div class="options">

                                            {% if product.id in request.session.cart %}
                                                <form action="{% url 'toggle_cart' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_cart' product.id %}"
                                                       class="toggle-cart-link is-in-cart"
                                                       data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/rab_red.png' %}"
                                                             alt="Удалить из корзины" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% else %}
                                                <b href=""></b>
                                            {% endif %}
                                            {% if product.id in request.session.favorites %}
                                                <form action="{% url 'toggle_favorite' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_favorite' product.id %}"
                                                       class="toggle-favorite-link is-favorite"
                                                       data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/heart.png' %}"
                                                             alt="Удалить из избранного" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% else %}
                                                <form action="{% url 'toggle_favorite' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_favorite' product.id %}"
                                                       class="toggle-favorite-link" data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/heart.png' %}"
                                                             alt="Добавить в избранное" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% endif %}
                                            {% if product.id in request.session.cart %}
                                                <div class="product-quantity">
                                                    <button class="quantity-button decrease"
                                                            data-product-id="{{ product.id }}">-
                                                    </button>
                                                    <input type="number"
                                                           class="quantity" value="1" min="1"
                                                           data-product-id="{{ product.id }}">
                                                    <button class="quantity-button increase"
                                                            data-product-id="{{ product.id }}">+
                                                    </button>
                                                </div>
                                            {% else %}
                                                <form action="{% url 'toggle_cart' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_cart' product.id %}"
                                                       class="toggle-cart-link" data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/cart.png' %}"
                                                             alt="Добавить в корзину" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% elif product.category.id == 2 %}
                        <div class="col-sm-12 col-lg-4 all pizza">
                            <div class="box">
                                <div>
                                    <a href="{% url 'product_detail' pk=product.pk %}">
                                        <div class="img-box">
                                            <img src="{{ product.main_image.url }}" alt="">
                                        </div>
                                    </a>
                                    <div class="detail-box">
                                        <h5>
                                            <a href="{% url 'product_detail' pk=product.pk %}"
                                               style="text-decoration: none; color: inherit;">
                                                {{ product.name }}</a>
                                        </h5>

                                        <div class="options">


                                            {% if product.id in request.session.cart %}
                                                <form action="{% url 'toggle_cart' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_cart' product.id %}"
                                                       class="toggle-cart-link is-in-cart"
                                                       data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/rab_red.png' %}"
                                                             alt="Удалить из корзины" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% else %}
                                                <b href=""></b>
                                            {% endif %}
                                            {% if product.id in request.session.favorites %}
                                                <form action="{% url 'toggle_favorite' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_favorite' product.id %}"
                                                       class="toggle-favorite-link is-favorite"
                                                       data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/heart.png' %}"
                                                             alt="Удалить из избранного" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% else %}
                                                <form action="{% url 'toggle_favorite' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_favorite' product.id %}"
                                                       class="toggle-favorite-link" data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/heart.png' %}"
                                                             alt="Добавить в избранное" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% endif %}
                                            {% if product.id in request.session.cart %}
                                                <div class="product-quantity">
                                                    <button class="quantity-button decrease"
                                                            data-product-id="{{ product.id }}">-
                                                    </button>
                                                    <input type="number"
                                                           class="quantity" value="1" min="1"
                                                           data-product-id="{{ product.id }}">
                                                    <button class="quantity-button increase"
                                                            data-product-id="{{ product.id }}">+
                                                    </button>
                                                </div>
                                            {% else %}
                                                <form action="{% url 'toggle_cart' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_cart' product.id %}"
                                                       class="toggle-cart-link" data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/cart.png' %}"
                                                             alt="Добавить в корзину" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elif product.category.id == 3 %}
                        <div class="col-sm-12 col-lg-4 all pasta">
                            <div class="box">
                                <div>
                                    <a href="{% url 'product_detail' pk=product.pk %}">
                                    <div class="img-box">
                                        <img
                                             src="{{ product.main_image.url }}" alt="">
                                    </div>
                                    </a>
                                    <div class="detail-box">
                                        <h5>
                                            <a href="{% url 'product_detail' pk=product.pk %}"
                                               style="text-decoration: none; color: inherit;">
                                                {{ product.name }}</a>
                                        </h5>

                                        <div class="options">

                                            {% if product.id in request.session.cart %}
                                                <form action="{% url 'toggle_cart' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_cart' product.id %}"
                                                       class="toggle-cart-link is-in-cart"
                                                       data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/rab_red.png' %}"
                                                             alt="Удалить из корзины" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% else %}
                                                <b href=""></b>
                                            {% endif %}
                                            {% if product.id in request.session.favorites %}
                                                <form action="{% url 'toggle_favorite' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_favorite' product.id %}"
                                                       class="toggle-favorite-link is-favorite"
                                                       data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/heart.png' %}"
                                                             alt="Удалить из избранного" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% else %}
                                                <form action="{% url 'toggle_favorite' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_favorite' product.id %}"
                                                       class="toggle-favorite-link" data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/heart.png' %}"
                                                             alt="Добавить в избранное" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% endif %}
                                            {% if product.id in request.session.cart %}
                                                <div class="product-quantity">
                                                    <button class="quantity-button decrease"
                                                            data-product-id="{{ product.id }}">-
                                                    </button>
                                                    <input type="number"
                                                           class="quantity" value="1" min="1"
                                                           data-product-id="{{ product.id }}">
                                                    <button class="quantity-button increase"
                                                            data-product-id="{{ product.id }}">+
                                                    </button>
                                                </div>
                                            {% else %}
                                                <form action="{% url 'toggle_cart' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_cart' product.id %}"
                                                       class="toggle-cart-link" data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/cart.png' %}"
                                                             alt="Добавить в корзину" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="about_section layout_padding">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="{% static 'product/img/micro_about.png' %}" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Салат из Микрозелени: Новый Вкус Свежести
                        </h2>
                    </div>
                    <div>
                        <p style="padding-left: 10px; ">
                            Откройте для себя уникальное сочетание микрозелени, включая горох, подсолнух, редиску и
                            капусту фиолетовую. Наши бутоны микрозелени обогатят ваши блюда свежестью и неповторимым
                            вкусом.
                        </p>
                        <hr style="border-color: white; width: 40%; margin: 10px 40px;">
                        <div style="padding-left: 15px">
                            <li>
                                <strong>Свежесть и Качество:</strong> Наша микрозелень растет с заботой о качестве,
                                чтобы вы могли
                                наслаждаться непревзойденным вкусом.
                            </li>
                            <li>
                                <strong>Уникальный Вкус:</strong>
                                Придайте вашим блюдам характер и нотку роскоши с нашей микрозеленью.
                            </li>
                            <li>
                                <strong>Здоровье и Питательность:</strong> Микрозелень богата витаминами и
                                микроэлементами, делая ваше
                                питание полезным и вкусным.
                            </li>
                        </div>
                        <hr style="border-color: white; width: 40%; margin: 10px 40px;">
                        <p>
                            Добавьте магию свежести в свои блюда с нашим салатом из микрозелени. Попробуйте прямо
                            сейчас!
                        </p>
                    </div>
                    <a href="{% url 'product_detail' pk=8 %}">
                        Больше здесь
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>
<section id="about_inform" class="section_about_inform">
    <div class="inform_about">
        <div class="inform_text">
            <h3 class="first_inform">СОТРУДНИЧЕСТВО С РЕСТОРАНАМИ, КАФЕ И БАРАМИ</h3>
            <hr style="width: 30%;">
            <br>
            <h4 class="second_inform">осуществляет оптовые и розничные продажи микрозелени, бэби зелени и съедобных
                цветов для
                предприятий сферы гостеприимства, общественного питания, фитнес индустрии и тд. Мы приглашаем к
                сотрудничеству компании, работающие в области HoReCa – отели, рестораны, кафе, бары. В сфере фитнеса –
                спортивные залы, танцевальные и йога студии.</h4>
            <br><br>
            <p>Напишите нам на Whats app или позвоните по номеру ниже и мы с радостью поможем вам!</p>
        </div>
        <div class="inform_tele">
            <p>
                +79271057003
            </p>
        </div>
    </div>
</section>
<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Наши контакты
                    </h4>
                    <div class="contact_link_box">

                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                  Телефон: +7(922)469-31-19
                </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                  i.v.fomenko@inbox.ru
                </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                        Microgreen
                    </a>
                    <p>
                        Какое-нибудь описание для компании
                    </p>
                    <div class="footer_social">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    Рабочие часы
                </h4>
                <p>
                    Каждый день
                </p>
                <p>
                    10:00 - 22:00
                </p>
            </div>
        </div>
    </div>
    <span id="displayYear"></span>
    </div>
    </div>
</footer>
<script src="{% static 'product/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'product/js/bootstrap.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
<script src="{% static 'product/js/custom.js' %}"></script>
<script>
    // Обработчик щелчка по кнопке "Добавить в избранное"
    document.querySelectorAll('.toggle-favorite-link').forEach(function (link) {
        link.addEventListener('click', function (event) {
            const product_id = link.getAttribute('data-product-id');
            saveScrollPosition();
            scrollToProduct(product_id);
            resetScrollPositionAfterDelay();
        });
    });

    // Обработчик щелчка по кнопке "Добавить в корзину"
    document.querySelectorAll('.toggle-cart-link').forEach(function (link) {
        link.addEventListener('click', function (event) {
            const product_id = link.getAttribute('data-product-id');
            saveScrollPosition();
            scrollToProduct(product_id);
            resetScrollPositionAfterDelay();
        });
    });

    // Восстанавливаем положение прокрутки при загрузке страницы
    window.addEventListener('load', function () {
        const scrollPosition = sessionStorage.getItem('scroll_position');
        if (scrollPosition !== null) {
            window.scrollTo(0, parseInt(scrollPosition));
            resetScrollPositionAfterDelay();
        }
    });

    // Функция для сохранения текущего положения прокрутки
    function saveScrollPosition() {
        const scrollY = window.scrollY;
        sessionStorage.setItem('scroll_position', scrollY);
    }

    // Функция для восстановления положения прокрутки до определенного товара
    function scrollToProduct(product_id) {
        const productElement = document.querySelector(`[data-product-id="${product_id}"]`);
        if (productElement !== null) {
            const scrollY = productElement.offsetTop;
            window.scrollTo(0, scrollY);
        }
    }

    // Функция для обнуления положения прокрутки после задержки
    function resetScrollPositionAfterDelay() {
        setTimeout(function () {
            sessionStorage.removeItem('scroll_position');
        }, 1000); // 6 секунд задержки
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var autoHideMessages = document.querySelectorAll('.auto-hide');
        var messagesBlock = document.querySelector('.messages_sucs');

        autoHideMessages.forEach(function (message) {
            setTimeout(function () {
                message.style.display = 'none';
                messagesBlock.style.display = 'none'; // Скрыть блок сообщений
            }, 6000);
        });

        // Отобразить блок сообщений при наличии сообщений
        if (messagesBlock && autoHideMessages.length > 0) {
            messagesBlock.style.display = 'block';
        }
    });
</script>
<script>
    // JavaScript для управления счетчиками
    var decreaseButtons = document.querySelectorAll(".decrease");
    var increaseButtons = document.querySelectorAll(".increase");
    var quantityInputs = document.querySelectorAll(".quantity");

    // Функция для сохранения значения в Local Storage
    function saveQuantityToLocalStorage(input) {
        var currentValue = parseInt(input.value, 10);
        if (!isNaN(currentValue) && currentValue >= 1) {
            localStorage.setItem("quantity_" + input.getAttribute("data-product-id"), currentValue.toString());
        }
    }

    for (var i = 0; i < decreaseButtons.length; i++) {
        decreaseButtons[i].addEventListener("click", function () {
            var input = this.parentElement.querySelector(".quantity");
            var currentValue = parseInt(input.value, 10);
            if (currentValue > 1) {
                input.value = (currentValue - 1).toString();
                saveQuantityToLocalStorage(input);
            }
        });
    }

    for (var i = 0; i < increaseButtons.length; i++) {
        increaseButtons[i].addEventListener("click", function () {
            var input = this.parentElement.querySelector(".quantity");
            var currentValue = parseInt(input.value, 10);
            input.value = (currentValue + 1).toString();
            saveQuantityToLocalStorage(input);
        });
    }

    for (var i = 0; i < quantityInputs.length; i++) {
        quantityInputs[i].addEventListener("input", function () {
            var input = this;
            var currentValue = parseInt(input.value, 10);
            if (isNaN(currentValue) || currentValue < 1) {
                input.value = "1";
            }
            saveQuantityToLocalStorage(input);
        });
    }

    // Функция для восстановления сохраненного значения из Local Storage
    function restoreQuantityFromLocalStorage(input) {
        var savedValue = localStorage.getItem("quantity_" + input.getAttribute("data-product-id"));
        if (savedValue) {
            input.value = savedValue;
        }
    }

    // Восстанавливаем значения из Local Storage при загрузке страницы
    for (var i = 0; i < quantityInputs.length; i++) {
        restoreQuantityFromLocalStorage(quantityInputs[i]);
    }
</script>
<script>
    var removeFromCartButtons = document.querySelectorAll(".toggle-cart-link.is-in-cart");

    // Добавить обработчик события click для каждой кнопки
    for (var i = 0; i < removeFromCartButtons.length; i++) {
        removeFromCartButtons[i].addEventListener("click", function (event) {
            // Предотвратить перехват события скриптом
            event.stopPropagation();

            var productID = this.getAttribute("data-product-id"); // Получить data-product-id

            // Удалить значение счетчика из Local Storage
            localStorage.removeItem("quantity_" + productID);
        });
    }
</script>
</body>
</html>