{% load static %}
<!DOCTYPE html >
<html lang="ru">
<head>
    <link rel="shortcut icon" href="{% static 'product/img/favicon.png' %}" type="">
    <title>{{ products.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'product/css/bootstrap.css' %}"/>
    <link href="{% static 'product/css/font-awesome_correct.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'product/css/product_details.css' %}" rel="stylesheet"/>
</head>

<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">

    </div>
    <!-- header section strats -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="{% url 'main_page' %}">
            <span>
              Microgreen
            </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mx-auto ">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main_page' %}">Главная</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'product_catalog' %}">Каталог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main_page' %}#about_inform">Сотрудничество</a>
                        </li>


                    </ul>
                    <div class="user_option">
                        {% if user.is_authenticated and user.is_staff %}
                            <a href="{% url 'admin_account' %}" class="user_link">
                                <img class="cart_img_catalog" src="{% static 'product/img/user.png' %}" alt="">
                            </a>
                        {% elif user.is_authenticated %}
                            <a href="{% url 'my_account' %}?next={{ request.path }}" class="user_link">
                                <img class="cart_img_catalog" src="{% static 'product/img/user.png' %}" alt="">
                            </a>
                        {% else %}
                            <a href="{% url 'user_login' %}?next={{ request.path }}" class="user_link">
                                <img class="cart_img_catalog" src="{% static 'product/img/user.png' %}" alt="">
                            </a>
                        {% endif %}

                        <a class="cart_link" href="{% url 'favorite_products' %}">
                            <div class="count_numb"><img class="cart_img_catalog"
                                                         src="{% static 'product/img/heart.png' %}"
                                                         alt="">{{ favorites_products.count }}</div>
                        </a>

                        {% if user.is_authenticated %}
                            <a class="cart_link" href="{% url 'cart_products' %}">
                                <div class="count_numb"><img class="cart_img_catalog"
                                                             src="{% static 'product/img/cart.png' %}"
                                                             alt="">{{ cart_products.count }}</div>
                            </a>
                        {% else %}
                            <a class="cart_link" href="{% url 'user_login' %}?next={% url 'cart_products' %}"
                               class="user_link">
                                <div class="count_numb"><img class="cart_img_catalog"
                                                             src="{% static 'product/img/cart.png' %}"
                                                             alt="">{{ cart_products.count }}</div>
                            </a>
                        {% endif %}
                    </div>

                </div>
            </nav>
        </div>
    </header>
</div>
<div class="messages_sucs">
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }} auto-hide"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>


<!-- food section -->

<section class="food_section layout_padding">
    <div class="heading_container heading_center">
        <h2>
            {{ product.name }}
        </h2>
    </div>
    <br><br>


    <div class="content_detail">
        <div class="left">
            <div class="main-image">
                <img src="{{ product.main_image.url }}" alt="Main Image" id="mainImage">
                <div class="small-images">
                    <img src="{{ product.main_image.url }}" alt="Main Image" class="small-image"
                         data-main-image="{{ product.main_image.url }}">
                    {% for image in product.images.all %}
                        {% if image.image %}
                            <img src="{{ image.image.url }}" class="small-image"
                                 data-main-image="{{ image.image.url }}">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="right">
            <div class="product-info">
                <h1 class="product-title">{{ product.name }}</h1>
                <br>
                <p class="product-description">
                    {{ product.description }}
                </p>
            </div>
            <div class="product-actions">
                <div class='favorites-link'>
                    {% if product.id in request.session.favorites %}
                        <form action="{% url 'toggle_favorite' product.id %}" method="post">
                            {% csrf_token %}
                            <a href="{% url 'toggle_favorite' product.id %}"
                               class="toggle-favorite-link is-favorite">
                                <img src="{% static 'product/img/heart.png' %}"
                                     alt="Удалить из избранного" class="cart_img_catalog">
                            </a>
                        </form>
                    {% else %}
                        <form action="{% url 'toggle_favorite' product.id %}" method="post">
                            {% csrf_token %}
                            <a href="{% url 'toggle_favorite' product.id %}"
                               class="toggle-favorite-link">
                                <img src="{% static 'product/img/heart.png' %}"
                                     alt="Добавить в избранное" class="cart_img_catalog">
                            </a>
                        </form>
                    {% endif %}
                </div>

                    {% if product.id in request.session.cart %}
                        <div class="product-quantity">
                            <button class="quantity-button decrease"
                                    data-product-id="{{ product.id }}">-
                            </button>
                            <input type="number"
                                   class="quantity" value="1" min="1"
                                   data-product-id="{{ product.id }}">
                            <button class="quantity-button increase"
                                    data-product-id="{{ product.id }}">+
                            </button>
                        </div>
                    {% else %}
                        <div class="favorites-link">
                            <form action="{% url 'toggle_cart' product.id %}" method="post">
                                {% csrf_token %}
                                <a href="{% url 'toggle_cart' product.id %}"
                                   class="toggle-cart-link" data-product-id="{{ product.id }}">
                                    <img src="{% static 'product/img/cart.png' %}"
                                         alt="Добавить в корзину" class="cart_img_catalog">
                                </a>
                            </form>
                        </div>

                    {% endif %}

                <div class="favorite-link">
                    {% if product.id in request.session.cart %}
                        <form action="{% url 'toggle_cart' product.id %}" method="post">
                            {% csrf_token %}
                            <a href="{% url 'toggle_cart' product.id %}"
                               class="toggle-cart-link is-in-cart"
                               data-product-id="{{ product.id }}">
                                <img src="{% static 'product/img/rab_red.png' %}"
                                     alt="Удалить из корзины" class="cart_image_rab">
                            </a>
                        </form>
                    {% else %}
                        <b href=""></b>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Наши контакты
                    </h4>
                    <div class="contact_link_box">

                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                  Телефон: +7(922)469-31-19
                </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                  i.v.fomenko@inbox.ru
                </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                        Microgreen
                    </a>
                    <p>
                        Мы выращиваем и предлагаем широкий ассортимент микрозелени и ярких цветков, чтобы обогатить ваши блюда вкусом, ароматом и эстетикой
                    </p>
                    <div class="footer_social">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    Рабочие часы
                </h4>
                <p>
                    Каждый день
                </p>
                <p>
                    10:00 - 22:00
                </p>
            </div>
        </div>

    </div>
</footer>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const mainImage = document.getElementById('mainImage');
    const smallImages = document.querySelectorAll('.small-image');
    let currentIndex = 0; // Текущий индекс отображаемой маленькой картинки

    smallImages.forEach(function (smallImage, index) {
        smallImage.addEventListener('click', function () {
            const newMainImageSrc = smallImage.getAttribute('data-main-image');
            mainImage.setAttribute('src', newMainImageSrc);
            currentIndex = index; // Обновляем текущий индекс
        });
    });

    // Инициализируем Hammer.js для обработки жестов
    const hammer = new Hammer(mainImage, { touchAction: 'auto' });

    // Обработчик смахивания влево
    hammer.on('swipeleft', function () {
        if (currentIndex < smallImages.length - 1) {
            currentIndex++;
            const newMainImageSrc = smallImages[currentIndex].getAttribute('data-main-image');
            mainImage.setAttribute('src', newMainImageSrc);
        }
    });

    // Обработчик смахивания вправо
    hammer.on('swiperight', function () {
        if (currentIndex > 0) {
            currentIndex--;
            const newMainImageSrc = smallImages[currentIndex].getAttribute('data-main-image');
            mainImage.setAttribute('src', newMainImageSrc);
        }
    });
});
</script>

{#<script>#}
{#    document.addEventListener('DOMContentLoaded', function () {#}
{#        const mainImage = document.getElementById('mainImage');#}
{#        const smallImages = document.querySelectorAll('.small-image');#}
{##}
{#        smallImages.forEach(function (smallImage) {#}
{#            smallImage.addEventListener('click', function () {#}
{#                const newMainImageSrc = smallImage.getAttribute('data-main-image');#}
{#                mainImage.setAttribute('src', newMainImageSrc);#}
{#            });#}
{#        });#}
{#    });#}
{#</script>#}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var autoHideMessages = document.querySelectorAll('.auto-hide');
        var messagesBlock = document.querySelector('.messages_sucs');

        autoHideMessages.forEach(function (message) {
            setTimeout(function () {
                message.style.display = 'none';
                messagesBlock.style.display = 'none'; // Скрыть блок сообщений
            }, 6000);
        });

        // Отобразить блок сообщений при наличии сообщений
        if (messagesBlock && autoHideMessages.length > 0) {
            messagesBlock.style.display = 'block';
        }
    });
</script>
<script>
    // JavaScript для управления счетчиками
    var decreaseButtons = document.querySelectorAll(".decrease");
    var increaseButtons = document.querySelectorAll(".increase");
    var quantityInputs = document.querySelectorAll(".quantity");

    // Функция для сохранения значения в Local Storage
    function saveQuantityToLocalStorage(input) {
        var currentValue = parseInt(input.value, 10);
        if (!isNaN(currentValue) && currentValue >= 1) {
            localStorage.setItem("quantity_" + input.getAttribute("data-product-id"), currentValue.toString());
        }
    }

    for (var i = 0; i < decreaseButtons.length; i++) {
        decreaseButtons[i].addEventListener("click", function () {
            var input = this.parentElement.querySelector(".quantity");
            var currentValue = parseInt(input.value, 10);
            if (currentValue > 1) {
                input.value = (currentValue - 1).toString();
                saveQuantityToLocalStorage(input);
            }
        });
    }

    for (var i = 0; i < increaseButtons.length; i++) {
        increaseButtons[i].addEventListener("click", function () {
            var input = this.parentElement.querySelector(".quantity");
            var currentValue = parseInt(input.value, 10);
            input.value = (currentValue + 1).toString();
            saveQuantityToLocalStorage(input);
        });
    }

    for (var i = 0; i < quantityInputs.length; i++) {
        quantityInputs[i].addEventListener("input", function () {
            var input = this;
            var currentValue = parseInt(input.value, 10);
            if (isNaN(currentValue) || currentValue < 1) {
                input.value = "1";
            }
            saveQuantityToLocalStorage(input);
        });
    }

    // Функция для восстановления сохраненного значения из Local Storage
    function restoreQuantityFromLocalStorage(input) {
        var savedValue = localStorage.getItem("quantity_" + input.getAttribute("data-product-id"));
        if (savedValue) {
            input.value = savedValue;
        }
    }

    // Восстанавливаем значения из Local Storage при загрузке страницы
    for (var i = 0; i < quantityInputs.length; i++) {
        restoreQuantityFromLocalStorage(quantityInputs[i]);
    }
</script>
<script>
var removeFromCartButtons = document.querySelectorAll(".toggle-cart-link.is-in-cart");

// Добавить обработчик события click для каждой кнопки
for (var i = 0; i < removeFromCartButtons.length; i++) {
    removeFromCartButtons[i].addEventListener("click", function (event) {
        // Предотвратить перехват события скриптом
        event.stopPropagation();

        var productID = this.getAttribute("data-product-id"); // Получить data-product-id

        // Удалить значение счетчика из Local Storage
        localStorage.removeItem("quantity_" + productID);
    });
}
</script>
<script src="{% static 'product/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'product/js/bootstrap.js' %}"></script>
<!-- Подключение Hammer.js через CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>

</body>
</html>
