{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <link href="{% static 'product/css/font-awesome_correct.min.css' %}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{% static 'product/img/favicon.png' %}" type="">
    <title> Microgreen </title>
    <link rel="stylesheet" type="text/css" href="{% static 'product/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'product/css/product_catalog.css' %}">


</head>

<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">

    </div>
    <!-- header section strats -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="{% url 'main_page' %}">
            <span>
              Microgreen
            </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mx-auto ">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main_page' %}">Главная</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'product_catalog' %}">Каталог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main_page' %}#about_inform">Сотрудничество</a>
                        </li>

                    </ul>
                    <div class="user_option">
                        {% if user.is_authenticated and user.is_staff %}
                            <a href="{% url 'admin_account' %}" class="user_link">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </a>
                        {% elif user.is_authenticated %}
                            <a href="{% url 'my_account' %}" class="user_link">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'user_login' %}" class="user_link">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                        <a href="{% url 'favorite_products' %}">
                            <img class="cart_img_catalog" src="{% static 'product/img/heart.png' %}" alt="">
                        </a>
                        {% if user.is_authenticated %}
                            <a class="cart_link" href="{% url 'cart_products' %}">
                                <img class="cart_img_catalog" src="{% static 'product/img/cart.png' %}" alt="">
                            </a>
                        {% else %}
                            <a class="cart_link" href="{% url 'user_login' %}">
                                <img class="cart_img_catalog" src="{% static 'product/img/cart.png' %}" alt="">
                            </a>
                        {% endif %}
                    </div>

                </div>
            </nav>
        </div>
    </header>
</div>


<!-- food section -->

<br><br>
<section class="food_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Наш каталог
            </h2>
        </div>

        <ul class="filters_menu">
            <li class="active" data-filter="*">Все</li>
            <li data-filter=".burger">Микрозелень</li>
            <li data-filter=".pizza">Пищевые цветы</li>
            <li data-filter=".pasta">Салаты</li>
            {#            <li data-filter=".fries"></li>#}
        </ul>


        <div class="filters-content">
            <div class="row grid">
                {% for product in products %}
                    {% if product.category.id == 2 %}

                        <div class="col-sm-6 col-lg-4 all pizza">
                            <div class="box">
                                <div>
                                    <div class="img-box">
                                        <img src="{{ product.main_image.url }}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <h5>
                                            <a href="{% url 'product_detail' pk=product.pk %}"
                                               style="text-decoration: none; color: inherit;">
                                                {{ product.name }}</a>
                                        </h5>
                                        <p>
                                            {{ product.description }}
                                        </p>
                                        <div class="options">
                                            <h6>
                                                ₽{{ product.price }} / <em>{{ product.weight }}</em>
                                            </h6>
                                            <b href="#"></b>
                                            {% if product.id in request.session.favorites %}
                                                <form action="{% url 'toggle_favorite' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_favorite' product.id %}"
                                                       class="toggle-favorite-link is-favorite"
                                                       data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/rab_white.png' %}"
                                                             alt="Удалить из избранного" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% else %}
                                                <form action="{% url 'toggle_favorite' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_favorite' product.id %}"
                                                       class="toggle-favorite-link" data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/heart.png' %}"
                                                             alt="Добавить в избранное" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% endif %}
                                            {% if product.id in request.session.cart %}
                                                <form action="{% url 'toggle_cart' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_cart' product.id %}"
                                                       class="toggle-cart-link is-in-cart" data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/rab_red.png' %}"
                                                             alt="Удалить из корзины" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% else %}
                                                <form action="{% url 'toggle_cart' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_cart' product.id %}"
                                                       class="toggle-cart-link" data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/cart.png' %}"
                                                             alt="Добавить в корзину" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% elif product.category.id == 1 %}
                        <div class="col-sm-6 col-lg-4 all burger">
                            <div class="box">
                                <div>
                                    <div class="img-box">
                                        <img src="{{ product.main_image.url }}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <h5>
                                            <a href="{% url 'product_detail' pk=product.pk %}"
                                               style="text-decoration: none; color: inherit;">
                                                {{ product.name }}</a>
                                        </h5>
                                        <p>
                                            {{ product.description }}
                                        </p>
                                        <div class="options">
                                            <h6>
                                                ₽{{ product.price }} / <em>{{ product.weight }}</em>
                                            </h6>
                                            <b href="#"></b>
                                            {% if product.id in request.session.favorites %}
                                                <form action="{% url 'toggle_favorite' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_favorite' product.id %}"
                                                       class="toggle-favorite-link is-favorite" data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/rab_white.png' %}"
                                                             alt="Удалить из избранного" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% else %}
                                                <form action="{% url 'toggle_favorite' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_favorite' product.id %}"
                                                       class="toggle-favorite-link" data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/heart.png' %}"
                                                             alt="Добавить в избранное" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% endif %}
                                            {% if product.id in request.session.cart %}
                                                <form action="{% url 'toggle_cart' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_cart' product.id %}"
                                                       class="toggle-cart-link is-in-cart" data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/rab_red.png' %}"
                                                             alt="Удалить из корзины" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% else %}
                                                <form action="{% url 'toggle_cart' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_cart' product.id %}"
                                                       class="toggle-cart-link" data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/cart.png' %}"
                                                             alt="Добавить в корзину" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elif product.category.id == 3 %}
                        <div class="col-sm-6 col-lg-4 all pasta">
                            <div class="box">
                                <div>
                                    <div class="img-box">
                                        <img src="{{ product.main_image.url }}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <h5>
                                            <a href="{% url 'product_detail' pk=product.pk %}"
                                               style="text-decoration: none; color: inherit;">
                                                {{ product.name }}</a>
                                        </h5>
                                        <p>
                                            {{ product.description }}
                                        </p>
                                        <div class="options">
                                            <h6>
                                                ₽{{ product.price }} / <em>{{ product.weight }}</em>
                                            </h6>
                                            <b href="#"></b>
                                            {% if product.id in request.session.favorites %}
                                                <form action="{% url 'toggle_favorite' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_favorite' product.id %}"
                                                       class="toggle-favorite-link is-favorite" data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/rab_white.png' %}"
                                                             alt="Удалить из избранного" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% else %}
                                                <form action="{% url 'toggle_favorite' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_favorite' product.id %}"
                                                       class="toggle-favorite-link" data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/heart.png' %}"
                                                             alt="Добавить в избранное" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% endif %}
                                            {% if product.id in request.session.cart %}
                                                <form action="{% url 'toggle_cart' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_cart' product.id %}"
                                                       class="toggle-cart-link is-in-cart" data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/rab_red.png' %}"
                                                             alt="Удалить из корзины" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% else %}
                                                <form action="{% url 'toggle_cart' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_cart' product.id %}"
                                                       class="toggle-cart-link" data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/cart.png' %}"
                                                             alt="Добавить в корзину" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elif product.category.id == 4 %}
                        <div class="col-sm-6 col-lg-4 all fries">
                            <div class="box">
                                <div>
                                    <div class="img-box">
                                        <img src="{{ product.main_image.url }}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <h5>
                                            <a href="{% url 'product_detail' pk=product.pk %}"
                                               style="text-decoration: none; color: inherit;">
                                                {{ product.name }}</a>
                                        </h5>
                                        <p>
                                            {{ product.description }}
                                        </p>
                                        <div class="options">
                                            <h6>
                                                ₽{{ product.price }} / <em>{{ product.weight }}</em>
                                            </h6>
                                            <b href="#"></b>
                                            {% if product.id in request.session.favorites %}
                                                <form action="{% url 'toggle_favorite' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_favorite' product.id %}"
                                                       class="toggle-favorite-link is-favorite" data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/rab_white.png' %}"
                                                             alt="Удалить из избранного" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% else %}
                                                <form action="{% url 'toggle_favorite' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_favorite' product.id %}"
                                                       class="toggle-favorite-link" data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/heart.png' %}"
                                                             alt="Добавить в избранное" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% endif %}
                                            {% if product.id in request.session.cart %}
                                                <form action="{% url 'toggle_cart' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_cart' product.id %}"
                                                       class="toggle-cart-link is-in-cart" data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/rab_red.png' %}"
                                                             alt="Удалить из корзины" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% else %}
                                                <form action="{% url 'toggle_cart' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'toggle_cart' product.id %}"
                                                       class="toggle-cart-link" data-product-id="{{ product.id }}">
                                                        <img src="{% static 'product/img/cart.png' %}"
                                                             alt="Добавить в корзину" class="cart_img_catalog">
                                                    </a>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}


            </div>
        </div>
    </div>
</section>
<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Наши контакты
                    </h4>
                    <div class="contact_link_box">

                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                  Телефон: +7(922)469-31-19
                </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                  i.v.fomenko@inbox.ru
                </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                        Microgreen
                    </a>
                    <p>
                        Какое-нибудь описание для компании
                    </p>
                    <div class="footer_social">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    Рабочие часы
                </h4>
                <p>
                    Каждый день
                </p>
                <p>
                    10:00 - 22:00
                </p>
            </div>
        </div>
    </div>
    <span id="displayYear"></span>
    </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script src="{% static 'product/js/bootstrap.js' %}"></script>
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
<script src="{% static 'product/js/custom.js' %}"></script>
<script>
    // Обработчик щелчка по кнопке "Добавить в избранное"
    document.querySelectorAll('.toggle-favorite-link').forEach(function(link) {
        link.addEventListener('click', function(event) {
            const product_id = link.getAttribute('data-product-id');
            saveScrollPosition();
            scrollToProduct(product_id);
        });
    });

    // Обработчик щелчка по кнопке "Добавить в корзину"
    document.querySelectorAll('.toggle-cart-link').forEach(function(link) {
        link.addEventListener('click', function(event) {
            const product_id = link.getAttribute('data-product-id');
            saveScrollPosition();
            scrollToProduct(product_id);
        });
    });

    // Восстанавливаем положение прокрутки при загрузке страницы
    window.addEventListener('load', function() {
        const scrollPosition = sessionStorage.getItem('scroll_position');
        if (scrollPosition !== null) {
            window.scrollTo(0, parseInt(scrollPosition));
        }
    });

    // Функция для сохранения текущего положения прокрутки
    function saveScrollPosition() {
        const scrollY = window.scrollY;
        sessionStorage.setItem('scroll_position', scrollY);
    }

    // Функция для восстановления положения прокрутки до определенного товара
    function scrollToProduct(product_id) {
        const productElement = document.querySelector(`[data-product-id="${product_id}"]`);
        if (productElement !== null) {
            const scrollY = productElement.offsetTop;
            window.scrollTo(0, scrollY);
        }
    }
</script>

</body>
</html>