@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");

body {
    font-family: "Open Sans", sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
    overflow-x: hidden;
}

.layout_padding {
    padding: 90px 0;
}

.cart_img_catalog {
    width: 20px;
    height: 20px;
}

.heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.heading_container h2 {
    position: relative;
    margin-bottom: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.heading_container h2 span {
    color: #ffbe33;
}

.heading_container p {
    margin-top: 10px;
    margin-bottom: 0;
}

.heading_container.heading_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a:hover,
a:focus {
    color: initial;
}

/*header section*/
.hero_area {
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.bg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #15121D;
    background: linear-gradient(180deg, #15121D, #2E2E2E);
}

.bg-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.sub_page .hero_area {
    min-height: auto;
}

.sub_page .hero_area .bg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sub_page .hero_area .bg-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: right top;
    object-position: right top;
}

.header_section {
    padding: 15px 0;
}

.navbar-brand span {
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
}

.custom_nav-container {
    padding: 0;
}

.custom_nav-container .navbar-nav {
    padding-left: 18%;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 20px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: auto;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
    color: #ffbe33;
}

.user_option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: end;
}

.user_option a {
    margin: 0 10px;
}

.user_option .user_link {
    color: #ffffff;
}

.user_option .user_link:hover {
    color: #ffbe33;
}

.user_option .cart_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: #007bff;


}

.custom_nav-container .navbar-toggler {
    outline: none;
}

.custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #ffffff;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    top: -10px;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
    top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}

/*end header section*/
/* slider section */

/* client section start */

/* client section end */

/* footer section*/
.footer_section {
    background-color: #222831;
    color: #ffffff;
    padding: 75px 0 40px 0;
    text-align: center;
    width: 100%;
    bottom: 0;

}

.footer_section h4 {
    font-size: 28px;
}

.footer_section h4,
.footer_section .footer-logo {
    font-weight: 600;
    margin-bottom: 20px;
}

.footer_section p {
    color: #dbdbdb;
}

.footer_section .footer-col {
    margin-bottom: 30px;
}

.footer_section .footer_contact .contact_link_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer_section .footer_contact .contact_link_box a {
    margin: 5px 0;
    color: #ffffff;
}

.footer_section .footer_contact .contact_link_box a i {
    margin-right: 5px;
}

.footer_section .footer_contact .contact_link_box a:hover {
    color: #ffbe33;
}

.footer_section .footer-logo {
    display: block;
    font-weight: bold;
    font-size: 38px;
    line-height: 1;
    color: #ffffff;
}

.footer_section .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer_section .footer_social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #222831;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ffffff;
    border-radius: 100%;
    margin: 0 2.5px;
    font-size: 18px;
}

.footer_section .footer_social a:hover {
    color: #ffbe33;
}

.footer_section .footer-info {
    text-align: center;
    margin-top: 25px;
}

.footer_section .footer-info p {
    color: #ffffff;
    margin: 0;
}

.footer_section .footer-info p a {
    color: inherit;
}

.content_detail {
    display: flex;
    flex-direction: row;
    background-color: #222831;
    width: 60%;
    margin: 0 auto;
}

/* Стили для левой части */
.left {
    flex: 1;
    background-color: #f1f2f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

/* Стили для правой части */
.right {
    flex: 1;
    background-color: #222831;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-right: 20px;
    padding-bottom: 20px;
}

/* Стили для левой части */


/* Стили для главной картинки и маленьких картинок */
.main-image {
    max-width: 700px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.main-image img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1; /* Делает картинку квадратной */
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.small-images {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.small-images img {
    width: 150px;
    height: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin-right: 9px; /* Добавьте расстояние между картинками */
}

/* Стили для правой части */


/* Стили для названия, цены и описания */
.product-title {
    font-size: 34px;
    margin-bottom: 10px;
}

.product-price {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-description {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Стили для кнопок "Add to Cart" и "Add to Favorites" */
.product-actions button {
    padding: 3px 3px;
}

/* Hover-эффекты для картинок и кнопок */
.small-images img:hover {
    transform: scale(1.1);
}

.product-actions {
    background-color: #222831;
    display: flex;
    margin-top: 20%;
}

/* Стили для значка корзины */

.cart-link {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #ffbe33;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 50px; /* Смещение вправо */
    top: -20px; /* Смещение вверх */

}

/* Стили для ссылки избранного */
.favorites-link {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #ffbe33;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    margin-left: 20px; /* Смещение вправо */
    top: -20px; /* Смещение вверх */
    margin-right: 50px;
}

/* Стили для картинки внутри ссылок */
.cart-link img,
.favorites-link img {
    width: 30px;
    height: 30px;
    margin-top: 10%;
}

.cart-link:hover,
.favorites-link:hover {
    background-color: #a5802f; /* Измените цвет при наведении */
}

.prev-arrow,
.next-arrow {
    width: 20px;
    height: 20px;

    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.prev-arrow {
    left: 0px;
}

.next-arrow {
    right: 0px;
}

.arrow-image {
    width: 20px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
}

.cart-notification {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
}

.messages_sucs {
    background-color: rgba(0, 0, 0, 0.7);
    width: 13%;
    height: auto;
    right: 1%; /* Вы можете настроить правильное значение в соответствии с вашим дизайном */
    top: 10%; /* Вы можете настроить правильное значение в соответствии с вашим дизайном */
    color: white;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    z-index: 1000; /* Установите желаемый z-index, чтобы убедиться, что блок находится поверх других элементов */
    display: none; /* Начнем с блока, который скрыт по умолчанию */
}

.messages_sucs p {
    font-size: 15px;
    padding: 12px;
}

.quantity-button {
    border: none;
    outline: none;
    background-color: #ffbe33;
    color: white;
    cursor: pointer;
    width: 20px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.quantity::-webkit-inner-spin-button,
.quantity::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity {
    -moz-appearance: textfield;
    appearance: textfield;
    width: 40px;
    text-align: center;

}

.product-quantity {
    margin: 0px 40px;
}

.favorite-link {
    display: inline-block;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    margin-left: 20px; /* Смещение вправо */
    top: -20px; /* Смещение вверх */
    margin-right: 50px;
}

@media (max-width: 1100px) {
    /* При разрешении экрана меньше или равном 768px, измените направление флекс-контейнера на колонку */
    .content_detail {
        flex-direction: column;
        width: 80%;
    }

    /* При разрешении экрана меньше или равном 768px, измените порядок дивов */
    .left {
        order: 1; /* Левый див идет после правого */
        border-top-right-radius: 0px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }

    .right {
        order: 2; /* Правый див идет перед левым */
    }
}

.cart_image_rab {
    width: 30px;
    height: 30px;
}

@media (max-width: 991px) {
    .favorite-link {
        width: 80px;
        height: 80px;
    }

    .cart_image_rab {

        width: 60px;
        height: 60px;
    }

    .product-quantity {
        display: flex;
        justify-content: space-between;
    }

    .quantity-button {
        margin: 5px;
        width: 45px;
        height: auto;
        font-size: 35px;
    }

    .quantity {
        width: 65px;
        font-size: 25px;
    }

    .product-actions {
        display: flex;
    }

    .layout_padding {
        margin-bottom: 30%;
    }


    .footer_section h4 {
        font-size: 40px;
    }


    .footer_section .footer_contact .contact_link_box a {
        font-size: 20px;
    }

    .footer_section .footer-logo {
        font-size: 40px;
    }

    .footer_section p {
        font-size: 20px;
    }

    .cart-link img, .favorites-link img {
        width: 40px;
        height: 40px;
    }

    .favorites-link {
        width: 60px;
        height: 60px;
    }

    .cart-link {
        width: 60px;
        height: 60px;
    }

    .product-title {
        font-size: 64px;
    }

    .product-price {
        font-size: 38px;
    }

    .product-description {
        font-size: 36px;
    }

    .heading_container h2 {
        font-size: 4.5rem;
    }

    .navbar-brand span {
        font-size: 52px;
    }

    .navbar-nav {
        font-size: 30px;
    }

    /*message*/
    .messages_sucs {
        width: 25%;
    }

    .messages_sucs p {
        font-size: 24px;
    }

    .count_numb {
        font-size: 24px;
    }

    li {
        font-size: 27px;
    }

    .cart_img_catalog {
        width: 45px;
        height: 45px;
    }

    .favorites-link {

        width: 80px;
        height: 80px;
    }

    .cart-link img, .favorites-link img {

        width: 60px;
        height: 60px;
    }

    .quantity {

        width: 85px;
        font-size: 35px;
    }

    .cart_img_catalog {

        width: 55px;
        height: 55px;
    }

}