{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Личный кабинет</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link href="{% static 'myaccount/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'myaccount/css/styles.css' %}" rel="stylesheet">
</head>
<body>
<i class="bi bi-list mobile-nav-toggle d-xl-none"><img style="width: 50%" src="{% static 'myaccount/img/menu.png' %}"
                                                       alt=""></i>
<header id="header">
    <div class="d-flex flex-column">
        <div class="profile">
            <img src="{% static 'myaccount/img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="{% url 'main_page' %}">{{ user.username }}</a></h1>
        </div>
        <nav id="navbar" class="nav-menu navbar">
            <ul>

                <li><a href="{% url 'main_page' %}" class="nav-link scrollto active"><i class="bx bx-home"></i>
                    <span>Главная</span></a>
                </li>
                <li><a href="{% url 'product_list' %}" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Работа с продуктами</span></a>
                </li>
                <li><a href="#orders" class="nav-link scrollto"><i class="bx bx-server"></i>
                    <span>Новые заказы</span></a>
                </li>
                <li><a href="{% url 'user_logout' %}" class="nav-link scrollto"><i class="bx bx-server"></i> <span
                        style="color: red;">Выйти</span></a>
                </li>

            </ul>
        </nav>
    </div>
</header>
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1>Добро пожаловать в личный кабинет</h1>
        <p>Здесь вы сможете <span class="typed"
                                  data-typed-items=" просматривать историю заказов, отслеживать состояние текущего заказа, связаться с нами, узнать информацию об оплате и доставке"></span>
        </p>
    </div>
</section>

<main id="main">
    <section id='orders'><h3>Список заказов</h3>
        <hr>
        <br>
        <table>
            <thead>
            <tr>
                <th>Номер заказа</th>
                <th>Наименование компании</th>
                <th>Статус заказа</th>
                <th>Дата доставки</th>
                <th>Заказанные продукты</th>
            </tr>
            </thead>
            <tbody>
            {% for order, profile in orders.items %}
                <tr data-status="{{ order.status_id }}">
                    <td>{{ order.id }}</td>
                    <td>{{ profile.company_name }}</td>
                    <td>
                        <form method="post" action="{% url 'admin_account' %}">
                            {% csrf_token %}
                            <input type="hidden" name="order_id" value="{{ order.id }}">
                            <select name="status_id" class="status-select">
                                {% for status in statuses %}
                                    <option value="{{ status.id }}"
                                            {% if order.status_id == status.id %}selected{% endif %}>{{ status.name }}</option>
                                {% endfor %}
                            </select>

                        </form>
                    </td>
                    <td>{{ order.delivery_date }}</td>
                    <td>
                        <ul>
                            {% for item in order.items.all %}
                                <li>{{ item.product.name }} ({{ item.quantity }} шт.)</li>
                            {% endfor %}
                        </ul>
                    </td>
                {% if order.comment == None %}
                	<td>-</td>
                {% else %}
                    <td>{{ order.comment }}</td>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

</main>
<script>
    // Получаем все элементы с классом 'status-select'
    const selectElements = document.querySelectorAll('.status-select');

    // Добавляем обработчик события 'change' для каждого элемента
    selectElements.forEach(function (selectElement) {
        selectElement.addEventListener('change', function () {
            const selectedOption = selectElement.querySelector('option:checked');
            const statusId = selectedOption.value;
            const row = selectElement.closest('tr');

            // Устанавливаем атрибут 'data-status' у родительской строки
            row.setAttribute('data-status', statusId);
        });
    });
</script>
<script>
    // Сохраняем текущую позицию прокрутки в localStorage при изменении статуса
    document.querySelectorAll('.status-select').forEach(function (selectElement) {
        selectElement.addEventListener('change', function () {
            const selectedOption = selectElement.querySelector('option:checked');
            const statusId = selectedOption.value;
            const row = selectElement.closest('tr');
            row.setAttribute('data-status', statusId);

            // Сохраняем позицию прокрутки в localStorage
            const currentScrollPosition = window.scrollY;
            localStorage.setItem('scrollPosition', currentScrollPosition);

            // Отправляем форму
            const form = selectElement.closest('form');
            form.submit();
        });
    });

    // Восстанавливаем позицию прокрутки из localStorage при загрузке страницы
    window.onload = function () {
        const scrollPosition = localStorage.getItem('scrollPosition');
        if (scrollPosition) {
            // Устанавливаем позицию прокрутки без анимации
            window.scrollTo({
                top: parseInt(scrollPosition),
                behavior: 'instant'
            });
        }
    };
</script>

<script src="{% static 'myaccount/vendor/typed.js/typed.umd.js' %}"></script>
<script src="{% static 'myaccount/js/main.js' %}"></script>

</body>
</html>